$primary: #2FE0A2;
$pagination-color: rgb(108, 117, 125);

@import './bootstrap/bootstrap';

/*
Breakpoint-specific height and width classes
https://stackoverflow.com/questions/47760132/any-way-to-get-breakpoint-specific-width-classes
*/
$sizes: ( 25: 25%, 50: 50%, 75: 75%, 100: 100%, auto: auto ); 
@each $breakpoint in map-keys($grid-breakpoints) {

    @each $size, $length in $sizes {
        @include media-breakpoint-up($breakpoint) {
            .w-#{$breakpoint}-#{$size} {
                width: $length !important;
            }
            
            .h-#{$breakpoint}-#{$size} {
                height: $length !important;
            }
        }
    }
}

.brand-logo {
    font-size: 2rem;

    &::before {
        font-size: 1.25rem;
        content: "FN";
        font-family: "Lato";
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: $primary;
        color: #fff;
        font-weight: bold;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
}

.nav-username {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#message-container {
    position: fixed;
    top: 5vh;
    width: 100vw;
    z-index: 999;

    .alert {
        margin: 0 auto;
        width: max-content;
    }
}

.main-article-card {
    height: 350px;
}

.article-card:hover {
    background-color: $light;
}

.article-img {
    object-fit: cover;
}

.article-body img {
    max-width: 100vw;
}

.article-detail-img {
    height: 40vmax;
    object-fit: cover;
}

@media screen and (min-width: 992px) {
    .main-article-card {
        height: 180px;
    }
}