<footer class="footer py-5 mt-5 bg-secondary bg-gradient">
    <div class="container d-flex flex-column flex-sm-row justify-content-between">
        <p class="m-0 mb-3 m-sm-0 text-center text-white">© 2022 Fantastic News</p>
        <p class="m-0 text-center text-white">
            <a href="https://www.facebook.com/" class="p-3 link-light"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="https://www.instagram.com/" class="p-3 link-light"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://www.twitter.com/" class="p-3 link-light"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a href="https://www.youtube.com/" class="p-3 link-light"><i class="fa-brands fa-youtube fa-lg"></i></a>
        </p>
    </div>
</footer>