{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-8">
        <h2>{{article.title}}</h2>
        <div class="d-flex justify-content-between small text-secondary mb-3">
            {{article.published_on}}
            <div>
                {% if article.number_of_likes > 0 %}
                <span><i class="fa-solid fa-heart"></i> {{article.number_of_likes}}</span>
                {% endif %}
                {% if article.number_of_comments > 0 %}
                <span class="mx-3"><i class="fa-solid fa-message"></i>
                    {{article.number_of_comments}}</span>
                {% endif %}
            </div>
        </div>

        <img class="img-fluid w-100 rounded article-detail-img" src="
            {% if 'placeholder' in article.featured_image.url %}
                https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg
            {% else %}
                {{ article.featured_image.url }}
            {% endif %}">
        <div class="mt-4 fs-5">
            <p class="float-start m-0">
                <span class="text-primary">{{article.location | upper}}</span> -&nbsp;
            </p>
            {{article.content  | safe }}
        </div>
        <hr class="my-5" />
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'news:article_like' article.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="blogpost_id" value="{{article.slug}}" class="btn btn-light f-4">
                <i class="{% if liked %}fas{% else %}far{% endif %} fa-heart text-primary me-2"></i>
                {{article.number_of_likes}}
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}