{% extends "base.html" %}

{% block content %}
{% if main_article_list.number == 1 %}
<h2 class="mb-4">Latest News</h2>
<a href="{% url 'news:article_detail' latest_article.slug %}" id="latest-article" class="card link-dark text-decoration-none article-card">
    <div class="row g-0">
        <div class="col-12 col-sm-7 p-4 order-2 order-sm-1">
            <div class="card-body d-flex flex-column h-100">
                <h4 class="card-title fw-bold" data-testid="latest-article-title">{{latest_article.title}}</h4>
                <div class="flex-grow-1 w-100 w-sm-50 d-flex align-items-center">
                    <hr class="w-100">
                </div>
                <div class="fs-6 card-text" data-testid="latest-article-body">
                    <span class="text-primary">{{latest_article.location | upper}}</span> -
                    {{latest_article.content  | safe | striptags |truncatechars_html:150}}
                </div>
                <div class="card-text mt-4 d-flex flex-column flex-md-row justify-content-between small text-secondary">
                    <span data-testid="latest-article-date">{{latest_article.published_on}}</span>
                    <div>
                        {% if latest_article.number_of_likes > 0 %}
                        <span><i class="fa-solid fa-heart"></i> {{latest_article.number_of_likes}}</span>
                        {% endif %}
                        {% if latest_article.number_of_comments > 0 %}
                        <span class="mx-3"><i class="fa-solid fa-message"></i>
                            {{latest_article.number_of_comments}}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5 order-1 order-sm-2">
            {% if "placeholder" in latest_article.featured_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                class="img-fluid rounded-end h-100 article-img w-100 w-sm-auto">
            {% else %}
            <img src=" {{ latest_article.featured_image.url }}" class="img-fluid rounded-end h-100 article-img w-100 w-sm-auto">
            {% endif %}
        </div>
    </div>
</a>

<hr class="my-5">
{% endif %}

<div class="row mt-2">
    <div class="col-12 col-lg-4 order-lg-1 text-lg-end ps-lg-5 mb-5 mb-lg-0">
        <h2 class="mb-5 mt-3">Headlines</h2>
        <div class="row flex-column flex-sm-row">
            {% for article in secondary_article_list %}
            <a href="{% url 'news:article_detail' article.slug %}"
                data-testid="secondary-article-{{forloop.counter}}"
                class="card border-0 link-dark article-card text-decoration-none 
                col-12 col-sm-3 col-lg-12 d-flex flex-row flex-lg-column ps-sm-0 
                {% if forloop.counter > 4%}d-none{% endif %} d-lg-block text-sm-center 
                text-lg-end py-lg-5">
                {% if not forloop.first %}
                <div class="vr d-none d-sm-inline-block d-lg-none me-3"></div>
                {% endif %}
                <div class="card-body px-0">
                    <h5 class="card-title">{{ article.title }}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>


    <div class="col-12 col-lg-8">
        <h2 class="mb-5 mt-3">Trending</h2>
        {% for article in main_article_list %}
        <a href="{% url 'news:article_detail' article.slug %}"
            data-testid="main-article-{{forloop.counter}}"
            class="card border-0 link-dark main-article-card article-card text-decoration-none">
            <div class="row g-0 h-100 flex-column flex-lg-row flex-nowrap">
                <div class="col-12 col-lg-4 h-50 h-lg-100 flex-grow-1">
                    {% if "placeholder" in article.featured_image.url %}
                    <img class="img-fluid rounded w-100 mh-100 h-100 article-img"
                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                    {% else %}
                    <img class="img-fluid rounded w-100 mh-100 h-100 article-img"
                        src=" {{ article.featured_image.url }}">
                    {% endif %}
                </div>

                <div class="col-12 col-lg-8">
                    <div class="card-body d-flex flex-column h-100">
                        <h3 class="card-title flex-grow-1 h-lg-auto">{{ article.title }}</h3>
                        <div class="card-text mt-2 d-flex justify-content-between small text-secondary">
                            <span>{{article.published_on}}</span>
                            <div>
                                {% if article.number_of_likes > 0 %}
                                <span><i class="fa-solid fa-heart"></i> {{article.number_of_likes}}</span>
                                {% endif %}
                                {% if article.number_of_comments > 0 %}
                                <span class="mx-3"><i class="fa-solid fa-message"></i>
                                    {{article.number_of_comments}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% if not forloop.last %}
        <hr class="my-4" />
        {% endif %}
        {% endfor %}
        <nav class="mt-4" aria-label="Main article list navigation" data-testid="main-article-navigation">
            <ul class="pagination justify-content-center">
                {% if main_article_list.has_previous %}
                <li class="page-item" data-testid="prev-link">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled" data-testid="prev-link">
                    <a class="page-link" href="#">Previous</a>
                </li>
                {% endif %}

                {% for page_num in main_article_list.paginator.page_range%}
                <li class="page-item {% if main_article_list.number == page_num %}active{% endif %}">
                    <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
                </li>
                {% endfor %}

                {% if main_article_list.has_next%}
                <li class="page-item" data-testid="next-link">
                    <a class="page-link" href="?page={{ main_article_list.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled" data-testid="next-link">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{%endblock%}